.videoWrapper {
    position: relative;
    padding-bottom: 40%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
h2 {
    
    color: blue
    
}

.lists {
    align-self: center
}

.lists {
    background-color: tomato;
    color: white;
    padding: 10px;
} 

.teddybear {
    align: center;
    background-color: black;
    color: blue;
    padding: 10px
}

.Logo {
    background-color: black;
    color: blue;
    padding: 10px
}

.bigPicture {
    position: relative;
}