@import url('https://fonts.googleapis.com/css?family=Baloo|Nothing+You+Could+Do');



.videoWrapper {
    position: relative;
    padding-bottom: 40%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
h2 {
    
    color: blue
    
}

.lists {
    align-self: center
}

.lists {
    background-color: blue;
    color: white;
    padding: 10px;
} 

.teddybear {
    text-align: center
}

.Logo {
    background-color: black;
    color: blue;
    padding: 10px
}

.bigPicture {
    width: 100%
}

.diary {

    font-family: 'Nothing You Could Do', cursive;
    font-size: 40px;
}

.belongings {
    padding: 10% 33.33%;
    font-size: 20px
}

.about {
    text-align: center
}

.gifs {
    text-align: center;
}